<h3 *ngIf="availablePlant!=='' && invoices.length <=0">No Invoices</h3>
<table class="table" *ngIf="invoices.length > 0">
  <thead>
  <tr>
    <th scope="col">Plant Name</th>
    <th scope="col">Payment date</th>
    <th scope="col">Status</th>
    <th scope="col">Total Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invoice of invoices">
    <td>{{invoice?.plantName}}</td>
    <td>{{invoice?.paymentDate}}</td>
    <td>{{invoice?.status}}</td>
    <td>{{invoice?.totalPrice}}</td>
  </tr>
  </tbody>
</table>
