<h2>Purchase Orders</h2>
<h3 *ngIf="error!=='' && purchaseOrders.length <= 0">No orders available</h3>
<table class="table mt-5" *ngIf="error!=='' && purchaseOrders.length > 0">
  <thead>
  <tr>
    <th scope="col">Plant Name</th>
    <th scope="col">Rental Period</th>
    <th scope="col">Shipment Date</th>
    <th scope="col">Total Price</th>
    <th scope="col">Status</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let purchaseOrder of purchaseOrders">
    <td>{{purchaseOrder?.plantName}}</td>
    <td *ngIf="purchaseOrder.status != 'EXTENTION_PENDING'">{{purchaseOrder?.rentalPeriod?.startDate}} - {{purchaseOrder?.rentalPeriod?.endDate}}</td>
    <td *ngIf="purchaseOrder.status == 'EXTENTION_PENDING'">{{purchaseOrder?.rentalPeriod?.startDate}} - {{purchaseOrder?.extendedDate}}(extended)</td>
    <td>{{purchaseOrder?.shipmentDate}}</td>
    <td>{{purchaseOrder?.totalPrice}}</td>
    <td>{{purchaseOrder?.status}}</td>
    <td>
      <span *ngFor="let link of purchaseOrder.links" style='margin-right: 5px;'>
          <button *ngIf="purchaseOrder.status == 'PENDING' && link.rel == 'accept'" class="btn btn-success"
                  type="button" (click)="makeRequestToUrl(link.href)">Accept</button>
          <button *ngIf="purchaseOrder.status == 'PENDING' && link.rel == 'reject'" class="btn btn-danger" type="button"
                  (click)="makeRequestToUrl(link.href)">Reject</button>
          <button *ngIf="purchaseOrder.status == 'EXTENTION_PENDING' && link.rel == 'accept'" class="btn btn-success"
                  type="button" (click)="makeRequestToUrl(link.href)">Accept extention</button>
          <button *ngIf="purchaseOrder.status == 'EXTENTION_PENDING' && link.rel == 'reject'" class="btn btn-danger" type="button"
                  (click)="makeRequestToUrl(link.href)">Reject extention</button>
          <button *ngIf="link.rel == 'dispatch'" class="btn btn-info" type="button"
                  (click)="makeRequestToUrl(link.href)">Dispatch</button>
          <button *ngIf="link.rel == 'return'" class="btn btn-info" type="button" (click)="makeRequestToUrl(link.href)">Return</button>
          <button *ngIf="link.rel == 'invoice'" class="btn btn-info" type="button"
                  (click)="makeRequestToUrl(link.href)">Invoice</button>
      </span>
    </td>
  </tr>
  </tbody>
</table>
